.container {
    display:flex;
    flex-direction: column;
    justify-content: space-around ;
    background-color: whitesmoke ;
    width: 300px;
    height: 500px; 
}
.square {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 100px;
}
#div1 {
    opacity: 1;
}
#div2 {
    opacity: 0.7;
}
#div3 {
    opacity: 0.5;
}
#div4 {
    opacity: 0.3;
}